# File path: /etc/systemd/system/heqiuyu-api.service
# sudo systemctl daemon-reload
# sudo systemctl start heqiuyu-api
# sudo systemctl enable heqiuyu-api
# sudo systemctl status heqiuyu-api
[Unit]
Description=heqiuyu Service
After=network.target

[Service]
User=ubuntu  # 注意修改用户名
WorkingDirectory=/path/to/heqiuyu-api  # 注意修改路径
ExecStart=/path/to/heqiuyu-api/heqiuyu-api --port 3000 --log-dir /path/to/heqiuyu-api/logs  # 注意修改路径和端口号
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
